# Clave aleatoria larga y privada
SECRET_KEY=cambia-esta-clave-por-una-larga-y-aleatoria

# MySQL: mysql+pymysql://USUARIO:CONTRASEÑA@HOST:PUERTO/BASE_DE_DATOS
DATABASE_URL=mysql+pymysql://ferreteria_user:CAMBIA_PASSWORD@127.0.0.1:3306/ferreteria

# Solo para seed.py
ADMIN_USERNAME=admin
ADMIN_PASSWORD=cambia-esta-contrasena
